@charset "UTF-8";
body {
    text-align: center;
    background-color: lightblue;
    
}
div {
    display: inline-block;
    background-color: lightblue;
    text-align: center;
    border: 1px solid black;
    height: 200px;
    width: 200px;
}
.d1 > a {
    display: none;
}
.d2 > a {
    display: none;
}
.d3 > a {
    display: none;
}
div:hover > a {
    background-color: #000000;
    color: white;
    display: block;   
} 