@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('../ex023/imagens/bandeira.jfif');
    background-position: center center;
    background-size: cover;
}

header {
    padding: 15px;
    margin: 5px;
}

h1 {
    color: white;
    text-align: center;
    padding: 15px;
    margin: 5px;
}

table {
    margin: auto;
    width: 670px;
    border-collapse: collapse;
    background-color: white;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.211);
    position: relative;
}

thead > tr > th /* aqui esta um comando que faz como a "o cabeçalho" da tabela acompanhe ela a ate seu final fazendo com que facilite ao leitor a a assimilação dos dados. */{
    position: sticky;
    top: 0;
}

td, th {
    border: 1px solid black;
    padding: 8px;
    font-weight: bold;
}

tbody > tr:nth-child(odd) /* aqui esta um exemplo de uma tag para mesclar um tabela, usando nth-child com odd ou even (odd = par, even = impar) */ {
    background-color: lightgray;
}

.numero {
    text-align: right;
}

.info {
    font-weight: bold;
    background-color: #064420;
    color: white;
}

#total {
    background-color: #064420;
    color: white;
}

footer {
    padding-top: 0.5em;
    text-align: center;
}

footer > p {
    font-size: 1.2em;
    background-color: black;
    color: white;
    padding: 5px 5px 0px 5px;
    margin: 0px;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
}